
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">



    <title>{% block title %}VMS Lunenburg{% endblock %}</title>


    <!-- Latest compiled and minified CSS -->

    {% block stylesheets %}

{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">





  </head>

  <body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a style="margin-top:-12px"class="navbar-brand" href="http://localhost/vms/web/app_dev.php/"><img src="http://i.imgur.com/G0WEpFr.png" alt="Hoi">
        </a>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-hdd"></span> Artikelen <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost/vms/web/app_dev.php/artikelen/">Artikel Overzicht</a></li>
            <li><a href="http://localhost/vms/web/app_dev.php/artikelen/nieuw">Artikel Toevoegen</a></li>
        {% if not is_granted('ROLE_USER') %}
        {% elseif is_granted('ROLE_ADMIN') %}
            <li><a href="http://localhost/vms/web/app_dev.php/artikelen/wijzig">Artikel Wijzigen</a></li>
            <li><a href="http://localhost/vms/web/app_dev.php/artikelen/verwijder">Artikel Verwijderen</a></li>
            <li><a href="http://localhost/vms/web/app_dev.php/zoekmagazijnlocatie">magazijnlocatie opvragen</a></li>
        {% else %}
        {% endif %}
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Goederen <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost/vms/web/app_dev.php/goederen/bestelopdracht">Nieuwe Bestelopdracht</a></li>
            <li><a href="http://localhost/vms/web/app_dev.php/goederen/bestellingen">Bestellingen</a></li>
            <li><a href="http://localhost/vms/web/app_dev.php/goederen/bestellingen/te_ontvangen">Te ontvangen</a></li>
            <li><a href="http://localhost/vms/web/app_dev.php/goederen/bestelopdracht">Ontvangen</a></li>
            </ul>



        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-equalizer"></span> Voorraad <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://localhost/vms/web/app_dev.php/artikel/minimumvoorraad">Minimumvoorraad</a></li>
            </ul>


      </ul>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://localhost/vms/web/app_dev.php/logout"><span class="glyphicon glyphicon-user"></span> Uitloggen</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Inloggen</a></li>
      </ul>
    </div>
  </div>
</nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% for flash_message in app.session.flashbag.get('notice') %}
              <div class="alert alert-danger">{{flash_message}}</div>
          {% endfor %}
          {% for flash_message in app.session.flashbag.get('gewijzigd') %}
              <div class="alert alert-info">{{flash_message}}</div>
          {% endfor %}
           {% for flash_message in app.session.flashbag.get('toegevoegd') %}
              <div class="alert alert-success">{{flash_message}}</div>
          {% endfor %}
              {% block body %}{% endblock %}
        </div>
      </div>
</div>
    </div><!-- /.container -->

    {% block javascripts %}
  {% endblock %}


  </body>
</html>
