{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/table.css') }}" />
<br>
<center><h1 class="page-header">Bestellingen overzicht</h1></center>
<table class="table table-hover table-danger">
<thead>
<tr class="bg-primary">
<th>Bestelordernummer</th>
<th>Bestelregel</th>
<th>Leverancier</th>
<th>Artikelnummer</th>
<th>Beschrijving</th>
<th>Aantal</th>
<th>Acties</th>
</tr>
</thead>
<tbody>
{% for bestelling in bestellingen %}
{% if loop.index % 1 == 0 or loop.last %}
{% if bestelling.status == 0 %}
<tr>
<td scope="row"> {{bestelling.bestelordernummer}} </td>
<td>{{bestelling.bestelregel}}</td>
<td>{{bestelling.leverancier}}</td>
<td>{{bestelling.artikel.artikelnr}}</td>
<td>{{bestelling.artikel.naam}}</td>
<td>{{bestelling.aantal}}</td>
<td><a href="bestelling/wijzig/{{ bestelling.id }}" class="btn btn-info">Verwerk</a></td>
</tr>
{% endif %}
{% endif %}
{% endfor %}
</tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(bestellingen) }}
</div>
{% endblock %}
