{% extends 'base.html.twig' %}

{% block body %}
<br>
<h2 class="page-header">Bestellingen overzicht</h2>
<table class="table table-striped">
<thead>
<tr>
<th>Leverancier</th>
<th>Bestelordernummer</th>
<th>Artikelnummer</th>
<th>Aantal</th>
<th>Acties</th>
</tr>
</thead>
<tbody>
{% for bestelling in bestellingen %}
<tr>
<th scope="row"> {{bestelling.leverancier}} </th>
<td>{{bestelling.bestelordernummer}}</td>
<td>{{bestelling.artikelnummer}}</td>
<td>€{{bestelling.aantal}}</td>
<td><a href="bestellingen/verwerk/{{ bestelling.bestelordernummer }}" class="btn btn-info">Verwerk</a></td>
</tr>

{% endfor %}
</tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(bestellingen) }}
</div>
{% endblock %}
