

{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/table.css') }}" />
<br>
<h2 class="page-header">Afgekeurd</h2>
<table class="table table-striped">
<thead>
<tr>
<th>Datum</th>
<th>Leverancier</th>
<th>Artikelnummer</th>
<th>Naam</th>
<th>Aantal</th>
<th>Kwaliteit</th>
</tr>
</thead>
<tbody>
{% for bestelling in bestellingen %}
{% if loop.index % 1 == 0 or loop.last %}
{% if bestelling.status == 2 %}
<tr>
<th scope="row"> {{bestelling.datum}} </th>
<td>{{bestelling.leverancier}}</td>
<td>{{bestelling.artikel.artikelnr}}</td>
<td>{{bestelling.artikel.naam}}</td>
<td>{{bestelling.aantal}}</td>
<td>{{bestelling.kwaliteit}}</td>
<td><a href="http://localhost/vms/web/app_dev.php/goederen/bestelling/afkeuren/{{ bestelling.id }}" class="btn btn-danger">Afkeuren</a></td>
</tr>
{% endif %}
{% endif %}
{% endfor %}
</tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(bestellingen) }}
</div>
{% endblock %}
