{% extends 'base.html.twig' %}

{% block body %}
<br>

<center><h1 class="page-header">Artikelen overzicht</h1></center><form action="" method="GET">
    <center><label for="naam">Filter op Naam</label>
    <input name="naam" type="text">
    <button type="submit" class="btn btn-default btn-sm">Filteren</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <form action="" method="GET">
        <label for="nr">Filter op Artikelnummer</label>
        <input name="nr" type="text">
        <button type="submit" class="btn btn-default btn-sm">Filteren</button><hr></center>
<table class="table table-hover table-danger">

<link rel="stylesheet" href="{{ asset('css/table.css') }}" />
<thead class="thead-inverse">
<tr>
<th>Artikelnummer</th>
<th>Naam</th>
<th>Technische Specificaties</th>
<th>Magazijnlocatie</th>
<th>Inkoopprijs</th>
<th>Verkoopprijs</th>
<th>Minimaal</th>
<th>Voorraad</th>
<th>Bestelserie</th>
</tr>
</thead>
<tbody>
{% for artikel in artikelen %}
{% if loop.index % 1 == 0 or loop.last %}
{% if artikel.status == 0 %}

<tr>
<td> {{artikel.artikelnr}} </td>
<td>{{artikel.naam}}</td>
<td>{{artikel.specs}}</td>
<td>{{artikel.locatie}}</td>
<td>€{{artikel.inkoopprijs}},-</td>
<td>€{{artikel.verkoopprijs}},-</td>
<td>{{artikel.MinVoorraad}}</td>
<td>{{artikel.Voorraad}}</td>
<td>{{artikel.bestelserie}}</td>
</tr>


{% endif %}
{% endif %}
{% endfor %}




{# some content.. #}


</tbody>
</table>
<td><a class="btn btn-danger" href="{{ path('verwijderde_artikelen') }}">Verwijderde Artikelen</a></td>
<div class="navigation">
    {{ knp_pagination_render(artikelen) }}
</div>
<br>


{% endblock %}
