{% extends 'base.html.twig' %}

{% block body %}
<br>
<h2 class="page-header">Artikelen overzicht</h2>
<table class="table table-striped">
<link rel="stylesheet" href="{{ asset('css/table.css') }}" />

<thead>
<tr>
<th>Artikelnummer</th>
<th>Naam</th>
<th>Technische Specificaties</th>
<th>Magazijnlocatie</th>
<th>Inkoopprijs</th>
<th>Verkoopprijs</th>
<th>Minimale voorraad</th>
<th>Voorraad</th>
<th>Bestelserie</th>
</tr>
</thead>
<tbody>
{% for artikel in artikelen %}
{% if loop.index % 1 == 0 or loop.last %}
{% if artikel.status == 0 %}
<tr>
<th scope="row"> {{artikel.artikelnr}} </th>
<td>{{artikel.naam}}</td>
<td>{{artikel.specs}}</td>
<td>{{artikel.locatie}}</td>
<td>€{{artikel.inkoopprijs}},-</td>
<td>€{{artikel.verkoopprijs}},-</td>
<td>{{artikel.MinVoorraad}}</td>
<td>{{artikel.Voorraad}}</td>
<td>{{artikel.bestelserie}}</td>
</tr>

{% endif %}
{% endif %}
{% endfor %}
</tbody>
</table>
<td><a class="btn btn-success" href="{{ path('verwijderde_artikelen') }}">Verwijderde Artikelen</a></td>
<div class="navigation">
    {{ knp_pagination_render(artikelen) }}
</div>
{% endblock %}
