{% extends 'base.html.twig' %}

{% block body %}
<br>

<h2 class="page-header">Artikelen overzicht</h2><form action="" method="GET">
    <label for="filter">Filter</label>
    <input name="filter" type="text">
    <button type="submit" class="btn btn-default btn-sm">Filteren</button><hr>
<table class="table table-hover table-danger">

<link rel="stylesheet" href="{{ asset('css/table.css') }}" />
<thead class="thead-inverse">
<tr>
<th>Artikelnummer</th>
<th>Naam</th>
<th>Technische Specificaties</th>
<th>Magazijnlocatie</th>
<th>Inkoopprijs</th>
<th>Verkoopprijs</th>
<th>Minimale voorraad</th>
<th>Voorraad</th>
<th>Bestelserie</th>
</tr>
</thead>
<tbody>
{% for artikel in artikelen %}
{% if loop.index % 1 == 0 or loop.last %}
{% if artikel.status == 0 %}
{% if artikel.voorraad < artikel.MinVoorraad %}
<h4><b><font color="orange">Onderbevooraade artikelens</font></b></h4>
    <p>Het volgende artikel zit onder de minimumvoorraad: <font size="3" color="red"><a href=../artikelen/detailles/{{artikel.artikelnr}}>{{artikel.artikelnr}}</a></font></p>
{% endif %}
<tr>
<th scope="row"> {{artikel.artikelnr}} </th>
<td>{{artikel.naam}}</td>
<td>{{artikel.specs}}</td>
<td>{{artikel.locatie}}</td>
<td>€{{artikel.inkoopprijs}},-</td>
<td>€{{artikel.verkoopprijs}},-</td>
<td>{{artikel.MinVoorraad}}</td>
<td>{{artikel.Voorraad}}</td>
<td>{{artikel.bestelserie}}</td>
</tr>


{% endif %}
{% endif %}
{% endfor %}




{# some content.. #}


</tbody>
</table>
<td><a class="btn btn-danger" href="{{ path('verwijderde_artikelen') }}">Verwijderde Artikelen</a></td>
<div class="navigation">
    {{ knp_pagination_render(artikelen) }}
</div>
<br>


{% endblock %}
