{# dit twig helpt mee met het opbouwen van het minimumvoorraad functie #}
{% extends 'base.html.twig' %}
{% block body %}
	<center><h1 class="page-header">Artikelen onder mimimumvoorraad</h1></center>
	<table class="table table-striped">
<link rel="stylesheet" href="{{ asset('css/table.css') }}" />
	<thead>
	<tr>
	<th>Artikelnummer</th>
	<th>Naam</th>
	<th>Locatie</th>
	<th>Minimaal</th>
	<th>Voorraad</th>
	<th>Inkoopprijs</th>
	<th>Bestelserie</th>
	</tr>
	</thead>
	<tbody>
	{% for artikel in artikelen %}
	<tr>
				<td scope="row"> {{artikel.artikelnr}} </td>
				<td>{{artikel.specs}} </td>
				<td>{{artikel.locatie}} </td>
				<td>{{artikel.minVoorraad}} </td>
				<td>{{artikel.voorraad}} </td>
				<td>{{artikel.inkoopprijs}} </td>
				<td>{{artikel.bestelserie}} </td>

	{% endfor %}
	</tbody>
	</table>
{% endblock %}
