{% extends 'base.html.twig' %}

{% block body %}
<br>
<h2 class="page-header">Verwijderde artikelen overzicht</h2>
<table class="table table-hover table-danger">
<link rel="stylesheet" href="{{ asset('css/table.css') }}" />

<thead>
<tr class="bg-primary">
<th>Artikelnummer</th>
<th>Naam</th>
<th>Technische Specificaties</th>
<th>Magazijnlocatie</th>
<th>Inkoopprijs</th>
<th>Verkoopprijs</th>
<th>Minimale voorraad</th>
<th>Voorraad</th>
<th>Bestelserie</th>
</tr>
</thead>
<tbody>
{% for bestelling in bestellingen %}
{% if loop.index % 1 == 0 or loop.last %}
{% if bestelling.status == 1 %}
<tr>
<th scope="row"> {{bestelling.artikelnr}} </th>
<td>{{bestelling.naam}}</td>
<td>{{bestelling.specs}}</td>
<td>{{bestelling.locatie}}</td>
<td>€{{bestelling.inkoopprijs}},-</td>
<td>€{{bestelling.verkoopprijs}},-</td>
<td>{{bestelling.MinVoorraad}}</td>
<td>{{bestelling.Voorraad}}</td>
<td>{{bestelling.bestelserie}}</td>
<td><a title="Activeren" href="http://localhost/vms/web/app_dev.php/artikelen/activeer/{{bestelling.artikelnr}}" class="btn btn-primary btn-info"><span class="glyphicon glyphicon-off"></span> </a></td>
</tr>
{% endif %}
{% endif %}
{% endfor %}
</tbody>
</table>

<div class="navigation">
    {{ knp_pagination_render(bestellingen) }}
</div>
{% endblock %}
